* {
  box-sizing: border-box;
  max-width: 100%;  
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: aliceblue;
  max-width: 100vw;
}

header, footer {
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
  background-color: aqua;

}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 5rem;
}

nav ul li {
  margin: .1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: .5rem;
  width: 100%;
  height: 100%;
  color: black;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, .1);
}

main {
  max-width: 80%;
  margin: 0 auto;
}

.web-form-1 {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 500px;
  padding: 12px;

  border:  1px solid rgba(0, 0, 0, .5);
}

.web-form-1 label {
  display: block;
  margin-bottom: 1rem;
}

.web-form-1 input {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 48px;
}

.web-form-1 .checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.web-form-1 input[type=checkbox] {
  width: 48px;
  margin: 0;
  margin-right: 4px;
}

.web-form-1 button {
  width: 100%;
  height: 48px;
}

.web-form-1 input[type=file] {
  display: none;
}

.upload-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  background-color: rgb(226, 224, 224);
}

#products-gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  justify-content: center;
}

#products-gallery ul li {
  min-width: 200px;

}

.product-image {
  display: block;
  min-width: 200px;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.product-listing {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 12px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-listing .image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
