<ul>
  <% products.forEach(product => { %>
    <li>
      <a href="/gallery/<%= product.product_slug %>"><%= product.product_name %></a>
      Price: $<%= product.product_price %>
    </li>
  <% }) %>
</ul>
