<div id="hero-container">
  <img id="hero" src="images/hero-1.webp" alt="">
</div>
<h1>Welcome to TurningAlaska</h1>
<p>This is the homepage</p>
<p>Testing updates</p>
<p>This site is a work in progress. Do not expect everything to work.</p>
<p>Especially do not expect everything to look good.</p>
<section>
  <a href="/gallery"><h2>Check out the gallery!</h2></a>
</section>